---
import Hero from '../components/Hero/Hero';
import Header from '../components/Header/Header';
import SkillSection from '../components/SkillSection/SkillSection';
import AboutSection from '../components/AboutSection/AboutSection';
import Layout from '../layouts/Layout.astro';
import ProjectSection from '../components/ProjectSection/ProjectSection';
import ContactSection from '../components/ContactSection/ContactSection';
import Footer from '../components/Footer/Footer';
---

<Layout title='Anton Lovrić'>
    <Header client:load />
    <section>
        <Hero client:visible />
        <hr />
        <main>
            <AboutSection client:visible />
            <hr />
            <SkillSection client:visible />
            <hr />
            <ProjectSection client:visible />
            <hr />
            <ContactSection />
        </main>
    </section>
    <Footer />
</Layout>
