.skills-container {
  h3 {
    margin-bottom: 0px;
  }
  .skill-title-container p {
    text-align: center;
  }
}

.skill-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  row-gap: 20px;
}

.skills-container {
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 992px) {
  .skills-container {
    width: 90%;
  }
  .skill-cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
